build/
results/
*.csv
notes/
yamls/
third-party/libtorch/
models/
__pycache__/
notebooks/
*.sif
*.def
exps/
data/
old/
myscripts/
gmon.out
gmon.out
Eigen/
*.txt
*.png
*.out
.ipynb_checkpoints/
build_debug/
analysis/